<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample CMS</title>
    @Styles.Render("~/Content/css") 
</head>
<body>
    <div style="position:sticky; top:0;z-index:9999; width:100%; height:100%;">
        @Html.Partial("_DesignToolbar")
        <div class="nav">
            <div class="nav__menu">
                <ul class="nav__menu__list">
                    <li id="nav-home" class="nav__menu__list__item">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav__menu__list__item__link" })</li>
                    <li class="nav__menu__list__item"> <a href="#demo-1" class="nav__menu__list__item__link">Demo#1</a></li>
                    <li class="nav__menu__list__item">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav__menu__list__item__link" })</li>
                </ul>
            </div>
            <div class="nav__login">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer">
        <p class="footer__text">&copy; @DateTime.Now.Year by gozde</p>
    </footer>
 
    @Scripts.Render("~/bundles/cms")
    @RenderSection("scripts", required: false)
</body>
</html>
